<font  SIZE=15 COLOR=blue><p  align="center" >Inteligencia Artificial</p></font>
<%= form_tag :action => 'duvas' do %>



<!..pedida de datos>
<p>Nombre Celular: 
<%= text_field_tag 'nombre_usuario'%></p>
<p>Descripcion: 
<%= text_field_tag 'deescripcion' %></p>
<%= submit_tag 'registrar' %>

<!..contiene a jaccard >


	<%= @descrip %>




 <!..vista consulta>
 






<% end %>
